body{
  background-image: radial-gradient( circle 760px at 50.7% 60.5%,  rgba(76,120,183,1) 0%, rgba(34,70,122,1) 90% );
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Cinzel', serif;
  margin-right: 25%;
}

#searchBox{ 
  border-radius: 0 20px;
  padding: 15px;
  width: 400px;
  font-size: 20px;
  outline: none;
  float: right;
  margin-top: -6.4%;
  margin-right: 26%;
  font-family: 'Raleway', sans-serif;
}

::placeholder{
  color: #D3D3D3;
}

#fixIt{
  width: 1550px;
  position: sticky;
  top: 0px;
  background: inherit;
  z-index: 10;
  padding-top: 2px;
}


#myData{
  text-align: center;
  padding: 50px;
  font-family: 'Source Serif Pro', serif;
  font-size: 2em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

hr{
  width: 900px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-left: 23%;
}

#myModel {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modelContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: 'Source Serif Pro', serif;
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.highlight{
  background-color: #EEE8AA;
}
