<!DOCTYPE html>
<html>

<head>
    <title>searchIT</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cinzel&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/style/main.css">
    <link type="text/css" rel="stylesheet" href="../public/style/main.css">
</head>

<body>
    <div id="fixIt">
        <h1>searchIT</h1>

        <input id="searchBox" type="text" placeholder="City or State">
        <hr>
    </div>

    <div id="myData" class="main"></div>

    <div id="myModel">
        <div id="modelContent">
            <span id="close">&times;</span>
            <p id="details"></p>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="../public/js/main.js"></script>
</body>

</html>